<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>moBill Android</name>

	<description>
		An awesome piece of billing goodness!
	</description>

	<author href="http://www.paulrichter.org"
		email="paul@vtsw.com.au">
		Paul Richter
	</author>

	<icon src="icon.png" gap:role="default" />

	<access origin="http://mobill.degabble.com" />
	<feature name="http://api.phonegap.com/1.0/media" />

	<preference name="orientation" value="portrait" />
</widget>
